body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #073d25;
}
.banner-coloumn{
    background-color: #327456;
}

img {
    filter: grayscale(100%);
}