* {
   max-width: 700px;
   margin: auto;
}
.container {
   margin-top: 50px;
}
.title {
   font-style: oblique;
   font-size: x-large;
}
.info {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   height: max-content;
   border: solid 3px burlywood;
   padding: 10px;
}
