h2 {
    color: rgb(20, 19, 18);
}

.title {
    background: rgb(137, 210, 137);
    padding: 5px;
    border: 5px solid rgb(175, 175, 240);
    border-radius: 50px;
    font-family: cursive;
    background-color: rgb(169, 228, 228);
    background-blend-mode: color-burn;
}

.life,
.clue {
    border: solid 2px black;
    border-radius: 10px;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
}

b {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 5px;
}

.life {
    background-color: greenyellow;
}

.lives{
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
}

.clue {
    background-color: azure;
}

.inputBox,
.try-btn {
    border-radius: 10px;
    border: solid green 3px;
}

.row {
    max-width: 700px;
}
